 <% @reviews.each do |review| %> 
     Book Title: <%= review.book.title %> <br> 
     Book Author: <%= review.book.author %> <br> 
     Book Review: <%= review.text %> <br>
 
     <a class="button" href="/reviews/<%=review.id%>/edit">Edit</a> <br> 
 
     <form method="post" action="/reviews/<%= review.id %>">
     <input type="hidden" name="_method" value="delete">
     <input type="submit" value="Delete">
</form> <br> <br> <br> 
<% end %> 
 
<!-- back to user's home page --> 
<a class="button" href="/users/show">Home</a>
